.page-hover-mark {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.page-hover-mark .div {
  background-color: var(--variable-collection-white-main);
  width: 1920px;
  height: 1080px;
  position: relative;
}

.page-hover-mark .button-analysis {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  padding: 18px 14px;
  position: absolute;
  top: 125px;
  left: 80px;
  background-color: var(--button);
  border-radius: 8px;
  overflow: hidden;
}

.page-hover-mark .analys {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.page-hover-mark .icon-report {
  position: relative;
  width: 24px;
  height: 24px;
}

.page-hover-mark .text-wrapper {
  position: relative;
  width: fit-content;
  font-weight: 600;
  color: var(--variable-collection-white-main);
  font-size: 18px;
  font-family: "Montserrat Alternates", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.page-hover-mark .overlap {
  position: absolute;
  width: 700px;
  height: 700px;
  top: 125px;
  left: 450px;
  border: 2px solid rgba(129, 147, 248, 1);
  border-radius: 4px;
}

.page-hover-mark .analysis {
  position: absolute;
  width: 880px;
  height: 876px;
  top: 0;
  left: 0;
  background-image: url(./img/property-1-label.png);
  background-size: cover;
  background-position: 50% 50%;
}

.page-hover-mark .overlap-group {
  position: relative;
  height: 876px;
  background-image: url(./img/2023-09-12-23-49-1-1.png);
  background-size: 100% 100%;
}

.page-hover-mark .label {
  position: absolute;
  width: 152px;
  height: 48px;
  top: 291px;
  left: 288px;
  background-color: var(--variable-collection-white-main);
  border-radius: 4px;
  border: 2px solid;
  border-color: var(--button);
}

.page-hover-mark .line {
  position: absolute;
  width: 51px;
  height: 80px;
  top: 334px;
  left: 387px;
}

.page-hover-mark .text-wrapper-2 {
  top: 304px;
  left: 303px;
  font-size: 16px;
  position: absolute;
  font-family: "Montserrat Alternates", Helvetica;
  font-weight: 500;
  color: var(--variable-collection-black-main);
  letter-spacing: 0;
  line-height: normal;
}

.page-hover-mark .icon-plus {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 18px;
  left: 732px;
}

.page-hover-mark .icon-minus {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 18px;
  left: 780px;
}

.page-hover-mark .view2 {
  position: absolute;
  width: 36px;
  height: 36px;
  top: 16px;
  left: 828px;
}

.page-hover-mark .overlap-2 {
  position: relative;
  height: 36px;
}

.page-hover-mark .full-view {
  position: absolute;
  width: 30px;
  height: 21px;
  top: 8px;
  left: 3px;
  transform: rotate(-45deg);
}

.page-hover-mark .overlap-group-2 {
  position: relative;
  width: 50px;
  height: 40px;
  top: -10px;
  left: -10px;
}

.page-hover-mark .icon-left {
  position: absolute;
  width: 28px;
  height: 28px;
  top: 7px;
  left: 6px;
  transform: rotate(45deg);
}

.page-hover-mark .icon-right {
  position: absolute;
  width: 28px;
  height: 28px;
  top: 6px;
  left: 16px;
  transform: rotate(45deg);
}

.page-hover-mark .round {
  width: 29px;
  height: 29px;
  top: 4px;
  left: 4px;
  border-radius: 14.34px;
  border: 2px solid;
  position: absolute;
  border-color: var(--variable-collection-grey-disable);
}

.page-hover-mark .overlap-3 {
  position: absolute;
  width: 545px;
  height: 432px;
  top: 152px;
  left: 88px;
}

.page-hover-mark .card {
  position: absolute;
  width: 545px;
  height: 432px;
  top: 0;
  left: 0;
}

.page-hover-mark .overlap-4 {
  position: relative;
  width: 513px;
  height: 432px;
  border-radius: 4px;
}

.page-hover-mark .text-wrapper-3 {
  position: absolute;
  width: 129px;
  top: 22px;
  left: 278px;
  font-family: "Montserrat Alternates", Helvetica;
  font-weight: 500;
  color: var(--variable-collection-black-main);
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.page-hover-mark .text-wrapper-4 {
  position: absolute;
  width: 107px;
  top: 59px;
  left: 278px;
  font-family: "Montserrat Alternates", Helvetica;
  font-weight: 500;
  color: var(--variable-collection-black-main);
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.page-hover-mark .text-wrapper-5 {
  position: absolute;
  width: 202px;
  top: 96px;
  left: 278px;
  font-weight: 500;
  color: var(--variable-collection-black-main);
  font-size: 18px;
  white-space: nowrap;
  font-family: "Montserrat Alternates", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.page-hover-mark .text-wrapper-6 {
  position: absolute;
  width: 81px;
  top: 22px;
  left: 32px;
  font-weight: 500;
  color: var(--variable-collection-black-main);
  font-size: 18px;
  white-space: nowrap;
  font-family: "Montserrat Alternates", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.page-hover-mark .text-wrapper-7 {
  position: absolute;
  width: 202px;
  top: 59px;
  left: 32px;
  font-weight: 500;
  color: var(--variable-collection-black-main);
  font-size: 18px;
  white-space: nowrap;
  font-family: "Montserrat Alternates", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.page-hover-mark .text-wrapper-8 {
  position: absolute;
  width: 202px;
  top: 96px;
  left: 32px;
  font-weight: 500;
  color: var(--variable-collection-black-main);
  font-size: 18px;
  white-space: nowrap;
  font-family: "Montserrat Alternates", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.page-hover-mark .text-wrapper-9 {
  position: absolute;
  width: 202px;
  top: 133px;
  left: 278px;
  font-family: "Montserrat Alternates", Helvetica;
  font-weight: 500;
  color: var(--variable-collection-black-main);
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.page-hover-mark .text-wrapper-10 {
  position: absolute;
  width: 202px;
  top: 133px;
  left: 32px;
  font-weight: 500;
  color: var(--variable-collection-black-main);
  font-size: 18px;
  white-space: nowrap;
  font-family: "Montserrat Alternates", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.page-hover-mark .text-wrapper-11 {
  position: absolute;
  width: 202px;
  top: 170px;
  left: 278px;
  font-weight: 500;
  color: var(--variable-collection-black-main);
  font-size: 18px;
  font-family: "Montserrat Alternates", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.page-hover-mark .text-wrapper-12 {
  position: absolute;
  width: 202px;
  top: 170px;
  left: 32px;
  font-weight: 500;
  color: var(--variable-collection-black-main);
  font-size: 18px;
  font-family: "Montserrat Alternates", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.page-hover-mark .text-wrapper-13 {
  position: absolute;
  width: 202px;
  top: 228px;
  left: 278px;
  font-weight: 500;
  color: var(--variable-collection-black-main);
  font-size: 18px;
  font-family: "Montserrat Alternates", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.page-hover-mark .text-wrapper-14 {
  position: absolute;
  width: 202px;
  top: 286px;
  left: 278px;
  font-weight: 500;
  color: var(--variable-collection-black-main);
  font-size: 18px;
  font-family: "Montserrat Alternates", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.page-hover-mark .text-wrapper-15 {
  position: absolute;
  width: 202px;
  top: 344px;
  left: 278px;
  font-weight: 500;
  color: var(--variable-collection-black-main);
  font-size: 18px;
  font-family: "Montserrat Alternates", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.page-hover-mark .text-wrapper-16 {
  position: absolute;
  width: 202px;
  top: 228px;
  left: 32px;
  font-weight: 500;
  color: var(--variable-collection-black-main);
  font-size: 18px;
  font-family: "Montserrat Alternates", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.page-hover-mark .text-wrapper-17 {
  position: absolute;
  width: 202px;
  top: 286px;
  left: 32px;
  font-weight: 500;
  color: var(--variable-collection-black-main);
  font-size: 18px;
  font-family: "Montserrat Alternates", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.page-hover-mark .text-wrapper-18 {
  position: absolute;
  width: 202px;
  top: 344px;
  left: 32px;
  font-weight: 500;
  color: var(--variable-collection-black-main);
  font-size: 18px;
  font-family: "Montserrat Alternates", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.page-hover-mark .back-card {
  position: absolute;
  width: 513px;
  height: 432px;
  top: 0;
  left: 0;
  border-radius: 4px;
  border: 1px solid;
  border-color: var(--variable-collection-grey-disable);
}

.page-hover-mark .edit {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 348px;
  left: 429px;
}

.page-hover-mark .overlap-5 {
  position: relative;
  height: 60px;
  border-radius: 30px;
}

.page-hover-mark .icon-edit {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 18px;
  left: 18px;
}

.page-hover-mark .round-2 {
  width: 60px;
  height: 60px;
  top: 0;
  left: 0;
  border-radius: 30px;
  border: 1.5px solid;
  position: absolute;
  border-color: var(--variable-collection-grey-disable);
}

.page-hover-mark .success {
  position: absolute;
  width: 288px;
  height: 48px;
  top: 708px;
  left: 88px;
}

.page-hover-mark .text-wrapper-19 {
  position: absolute;
  width: 256px;
  top: -1px;
  left: 32px;
  font-weight: 500;
  color: var(--button);
  font-size: 20px;
  font-family: "Montserrat Alternates", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.page-hover-mark .icon-success {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  left: 0;
}

.page-hover-mark .result {
  display: flex;
  flex-direction: column;
  width: 320px;
  align-items: flex-start;
  justify-content: center;
  gap: 8px;
  position: absolute;
  top: 200px;
  left: 80px;
}

.page-hover-mark .text-wrapper-20 {
  position: relative;
  width: 321px;
  height: 24px;
  margin-top: -1px;
  margin-right: -1px;
  font-weight: 500;
  color: var(--variable-collection-black-main);
  font-size: 20px;
  white-space: nowrap;
  font-family: "Montserrat Alternates", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.page-hover-mark .text-wrapper-21 {
  position: relative;
  width: 321px;
  height: 24px;
  margin-right: -1px;
  font-weight: 500;
  color: var(--variable-collection-black-main);
  font-size: 20px;
  white-space: nowrap;
  font-family: "Montserrat Alternates", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.page-hover-mark .text-wrapper-22 {
  position: relative;
  width: 321px;
  height: 24px;
  margin-right: -1px;
  font-weight: 600;
  color: var(--button);
  font-size: 20px;
  white-space: nowrap;
  font-family: "Montserrat Alternates", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.page-hover-mark .text-wrapper-23 {
  position: absolute;
  height: 20px;
  top: 115px;
  left: 88px;
  font-weight: 500;
  color: var(--variable-collection-grey-disable);
  font-size: 16px;
  text-decoration: underline;
  font-family: "Montserrat Alternates", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.page-hover-mark .scroll-frame {
  position: absolute;
  width: 300px;
  height: 800px;
  top: 125px;
  left: 1160px;
  overflow-y: scroll;
}

.page-hover-mark .frame {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 18px;
  position: relative;
}

.page-hover-mark .ao {
  position: relative;
  width: 226px;
  height: 186px;
  margin-right: -2px;
}

.page-hover-mark .element {
  position: absolute;
  width: 224px;
  height: 156px;
  top: 30px;
  left: 0;
  object-fit: cover;
}

.page-hover-mark .text-wrapper-24 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Montserrat Alternates", Helvetica;
  font-weight: 500;
  color: var(--variable-collection-black-main);
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.page-hover-mark .text-wrapper-25 {
  top: 0;
  left: 1px;
  font-size: 18px;
  position: absolute;
  font-family: "Montserrat Alternates", Helvetica;
  font-weight: 500;
  color: var(--variable-collection-black-main);
  letter-spacing: 0;
  line-height: normal;
}

.page-hover-mark .img {
  position: absolute;
  width: 224px;
  height: 156px;
  top: 30px;
  left: 0;
}

.page-hover-mark .overlap-6 {
  position: absolute;
  width: 281px;
  height: 200px;
  top: 0;
  left: 1576px;
}

.page-hover-mark .back {
  position: absolute;
  width: 280px;
  height: 200px;
  top: 0;
  left: 0;
  background-color: var(--variable-collection-white-main);
}

.page-hover-mark .atypical-count {
  position: absolute;
  width: 279px;
  height: 30px;
  top: 152px;
  left: 2px;
  background-color: var(--variable-collection-white-main);
}

.page-hover-mark .text-wrapper-26 {
  position: absolute;
  width: 279px;
  top: -1px;
  left: 0;
  font-weight: 600;
  color: var(--button);
  font-size: 20px;
  font-family: "Montserrat Alternates", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.page-hover-mark .user {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 32px;
  left: 220px;
  object-fit: cover;
}

.page-hover-mark .icon-settings {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 50px;
  left: 156px;
}

.page-hover-mark .icon-faq {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 50px;
  left: 100px;
}

.page-hover-mark .logo {
  position: absolute;
  width: 253px;
  height: 44px;
  top: 32px;
  left: 64px;
}
