
*.mrxs
*.dat
slide-2022-09-12T15-38-25-R1-S2/Slidedat.ini
__pycache__/parse_xml.cpython-310.pyc
temp.xml
slide-2022-05-13T15-02-47-R1-S2/Slidedat.ini
__pycache__/config.cpython-310.pyc
__pycache__/ai_tools.cpython-310.pyc
__pycache__/inference.cpython-310.pyc
*.pyc
ai/
*.ini
.DS_Store
__web/static/temp/
openslide/
*.png
*.bmp
*slide-*
dist/
build/
model/

previous/

*jquery.js
*openseadragon*.js
